body {
    
    height :100%;
    width: 100%;
    background-color: #000000;
    color: white;


    font-family: Sans-Serif;
    font-size: 150px;

 

    text-align: center;
    
   
    
   

    
  }
  .text{
   padding-top: 0px;
   
    margin-top:-150px;
    height: 200px;
  }
  .MinusButton{
    
 
    
    font-size: 75px;
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    background-color: #262A56;
  }
  .AddButton{
    
    margin-top: 200px;
    font-size: 75px;
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    background-color: #262A56;
  }